<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-segment [(ngModel)]="segmentValue" (ionChange)="segmentChanged($event.detail.value)">
      <ion-segment-button value="delivery" id="delivery">
        <ion-label>Delivery</ion-label>
      </ion-segment-button>
        <ion-segment-button [disabled]="!authGuard.deliveryAuth" value="shipping" id="shipping">
        <ion-label>Shipping</ion-label>
      </ion-segment-button>
      <ion-segment-button [disabled]="!authGuard.shippingAuth || !authGuard.deliveryAuth"  value="payment" id="payment">
        <ion-label>Payment</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-tab-bar>
</ion-tabs>
